#main-orders-container {
    display: flex;
}

#orders-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#input-container {
    width: 350px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: absolute;
    top: 0;
    transform: translate(0, -50%); */
}

#input-container input {
    padding: 10px;
    width: 250px;
}

#input-container button {
    padding: 10px;
    background-color: #005BEB;
    color: white;
    border: 10px solid white;
    border-radius: 6px;
}

#input-container button:hover {
    cursor: pointer;
}

#orders-container {
    height: 100%;
}

@media screen and (max-width: 1000px) {
    #orders-container {
        width: 100%;
    }
}