#main-products-container {
    display: flex;
}

#products-container {
    margin: 0 auto;
}

#filter-container {
    height: 70px;
    /* background-color: #005BEC; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    /* border-bottom: 1px solid; */
}

#filter-container label {
    color: #005BEC;
    font-weight: bold;
}

#filter-container select {
    padding: 4px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    background-color: #005BEC;
    color: white;
}

@media screen and (max-width: 600px) {
    #filter-container {
        width: 100vw;
    }
}