#main-products-container {
    display: flex;
}

#products-container {
    margin: 0 auto;
}

#filter-container {
    height: 70px;
    background-color: #005BEC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 16px 16px;
}

#filter-container label {
    color: white;
    font-weight: bold;
}