#sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f1f1fb;
  /* border-right: 1px solid; */
  position: relative;
  /* background-color:   #292DA3;   */
  background-color: #005BEC;
}

#sidebar a {
  text-decoration: none;
  color: grey;  
  color: white;
  font-weight: bold;
}

#sidebar a:hover {
  color: navy;
}

#nav-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link-container {
  display: flex;
  width: 160px;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
}

.nav-link-container p {
  margin: 0 10px;
  font-size: 18px;
}

.sidebar-icon {
  height: 22px;
}

#hamburger {
  display: none;
}

#close {
  display: none;
}

@media screen and (max-width: 800px) {

  #sidebar {
    position: relative;
    border: none;
    position: fixed;
  }

  #hamburger {
    display: block;
    /* width: 0;
    border: 0;
    padding: 0; */
    padding: 0;
    background-color: white;
    border: none;
  }

  #hamburger:hover {
    cursor: pointer;
  }

  #hamburger-img {
    padding: 20px;
    width: 30px;
    position: fixed;
    top: 0px;
  }

  #close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 0;
    padding: 0;
    border: none;
  }

  #close-img {
    width: 30px;
    position: absolute;
    top: 5px;
    right: 1px;
  }

  #close-img:hover {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .open {
    display: block;
  }
}
